
.vs/Datastructures-Project-1/v15/Browse.VC.db
.vs/Datastructures-Project-1/v15/Browse.VC.opendb
.vs/slnx.sqlite
*.json
.vs/Datastructures-Project-1/v15/.suo
.vs/Datastructures-Project-1/v15/ipch/AutoPCH/12469f2db6fa9e80/DATA STRUCTURES PROJECT 1.ipch
